# Logistic Regression

In [31]:
import acquire
import prepare
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
import classy

In [2]:
df = prepare.prep_titanic(acquire.get_titanic_data())

Use this as dbc to help get your SQL data: Engine(mysql+pymysql://ada_665:***@157.230.209.171/titanic_db)
Don't forget to assign to a df
fill
drop
encode

In [3]:
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,embarked_encode
0,0,0,3,male,22.0,1,0,7.2500,S,Third,Southampton,0,3
1,1,1,1,female,38.0,1,0,71.2833,C,First,Cherbourg,0,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,Southampton,1,3
3,3,1,1,female,35.0,1,0,53.1000,S,First,Southampton,0,3
4,4,0,3,male,35.0,0,0,8.0500,S,Third,Southampton,1,3

In [4]:
df.isnull().sum()

passenger_id         0
survived             0
pclass               0
sex                  0
age                177
sibsp                0
parch                0
fare                 0
embarked             0
class                0
embark_town          0
alone                0
embarked_encode      0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
passenger_id       891 non-null int64
survived           891 non-null int64
pclass             891 non-null int64
sex                891 non-null object
age                714 non-null float64
sibsp              891 non-null int64
parch              891 non-null int64
fare               891 non-null float64
embarked           891 non-null object
class              891 non-null object
embark_town        891 non-null object
alone              891 non-null int64
embarked_encode    891 non-null int64
dtypes: float64(2), int64(7), object(4)
memory usage: 90.6+ KB

Getting rid of null values.

In [6]:
df.dropna(inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 13 columns):
passenger_id       714 non-null int64
survived           714 non-null int64
pclass             714 non-null int64
sex                714 non-null object
age                714 non-null float64
sibsp              714 non-null int64
parch              714 non-null int64
fare               714 non-null float64
embarked           714 non-null object
class              714 non-null object
embark_town        714 non-null object
alone              714 non-null int64
embarked_encode    714 non-null int64
dtypes: float64(2), int64(7), object(4)
memory usage: 78.1+ KB

In [8]:
df.describe()

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,embarked_encode
count,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000
mean,447.582633,0.406162,2.236695,29.699118,0.512605,0.431373,34.694514,0.565826,2.408964
std,259.119524,0.491460,0.838250,14.526497,0.929783,0.853289,52.918930,0.495995,1.158288
min,0.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,221.250000,0.000000,1.000000,20.125000,0.000000,0.000000,8.050000,0.000000,3.000000
50%,444.000000,0.000000,2.000000,28.000000,0.000000,0.000000,15.741700,1.000000,3.000000
75%,676.750000,1.000000,3.000000,38.000000,1.000000,1.000000,33.375000,1.000000,3.000000
max,890.000000,1.000000,3.000000,80.000000,5.000000,6.000000,512.329200,1.000000,3.000000

Splitting the data into train and test sets. Random state is `123` and  training size is `0.7`.

In [9]:
train, test = prepare.split_it(df, strat=df[['survived']])

Parameters are df, train_size, random_state, and stratify
Returns train, test

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

Making sure everything matches up.

In [10]:
train.shape

(499, 13)

In [11]:
test.shape

(215, 13)

Min-max normalization for `age` and `fare`.

In [12]:
train, scaler = prepare.min_max(train, ['age', 'fare'])

/Users/MatthewZapata/ds-methodologies-exercises/classification/prepare.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  train[list_of_what_to_standardize] = scaler.transform(train[list_of_what_to_standardize])

Parameters are a training df and a list of what columns to standardize.
Returns the normalized training df and the scaler for scaling the test set.

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [13]:
scaler

MinMaxScaler(copy=True, feature_range=(0, 1))

In [14]:
train.describe()

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,embarked_encode
count,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,459.090180,0.406814,2.238477,0.369280,0.535070,0.430862,0.068261,0.561122,2.402806
std,254.343216,0.491733,0.841472,0.188110,0.931528,0.855369,0.102274,0.496748,1.163394
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,246.500000,0.000000,1.000000,0.258608,0.000000,0.000000,0.015713,0.000000,3.000000
50%,455.000000,0.000000,3.000000,0.346569,0.000000,0.000000,0.030937,1.000000,3.000000
75%,683.500000,1.000000,3.000000,0.472229,1.000000,1.000000,0.067096,1.000000,3.000000
max,890.000000,1.000000,3.000000,1.000000,5.000000,6.000000,1.000000,1.000000,3.000000

Normalizing the test data set using the scaler from the train data set.

In [15]:
test[['age', 'fare']] = scaler.transform(test[['age', 'fare']])

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [16]:
test.describe()

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,embarked_encode
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000
mean,420.874419,0.404651,2.232558,0.364766,0.460465,0.432558,0.066462,0.576744,2.423256
std,268.585840,0.491970,0.832663,0.169286,0.925783,0.850432,0.105844,0.495228,1.148920
min,1.000000,0.000000,1.000000,0.005152,0.000000,0.000000,0.000000,0.000000,0.000000
25%,161.500000,0.000000,1.000000,0.246042,0.000000,0.000000,0.018120,0.000000,3.000000
50%,419.000000,0.000000,2.000000,0.346569,0.000000,0.000000,0.029278,1.000000,3.000000
75%,658.500000,1.000000,3.000000,0.472229,1.000000,1.000000,0.061045,1.000000,3.000000
max,889.000000,1.000000,3.000000,0.798944,5.000000,5.000000,1.000000,1.000000,3.000000

In [17]:
train.sample(10)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,embarked_encode
91,91,0,3,male,0.246042,0,0,0.015330,S,Third,Southampton,1,3
386,386,0,3,male,0.007288,5,2,0.091543,S,Third,Southampton,0,3
362,362,0,3,female,0.560191,0,1,0.028213,C,Third,Cherbourg,0,0
118,118,0,1,male,0.296306,0,1,0.483128,C,First,Cherbourg,0,0
812,812,0,2,male,0.434531,0,0,0.020495,S,Second,Southampton,1,3
726,726,1,2,female,0.371701,3,0,0.040989,S,Second,Southampton,0,3
465,465,0,3,male,0.472229,0,0,0.013761,S,Third,Southampton,1,3
344,344,0,2,male,0.447097,0,0,0.025374,S,Second,Southampton,1,3
530,530,1,2,female,0.019854,1,1,0.050749,S,Second,Southampton,0,3
619,619,0,2,male,0.321438,0,0,0.020495,S,Second,Southampton,1,3

## Model 1

Modeling using default parameters with random state set to `123`.

In [18]:
model = LogisticRegression(random_state=123)

In [19]:
model.fit(train[['pclass', 'age', 'sibsp', 'parch', 'fare']], train.survived)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=123, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

Creating a new column for predictions.

In [20]:
train['predictions'] = model.predict(train[['pclass', 'age', 'sibsp', 'parch', 'fare']])

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
train.sample(10)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,embarked_encode,predictions
883,883,0,2,male,0.346569,0,0,0.020495,S,Second,Southampton,1,3,0
10,10,1,3,female,0.044986,1,1,0.032596,S,Third,Southampton,0,3,0
352,352,0,3,male,0.183212,1,1,0.014110,C,Third,Cherbourg,0,0,0
112,112,0,3,male,0.271174,0,0,0.015713,S,Third,Southampton,1,3,0
498,498,0,1,female,0.308872,1,2,0.295806,S,First,Southampton,0,3,1
881,881,0,3,male,0.409399,0,0,0.015412,S,Third,Southampton,1,3,0
592,592,0,3,male,0.585323,0,0,0.014151,S,Third,Southampton,1,3,0
579,579,1,3,male,0.396833,0,0,0.015469,S,Third,Southampton,1,3,0
614,614,0,3,male,0.434531,0,0,0.015713,S,Third,Southampton,1,3,0
376,376,1,3,female,0.271174,0,0,0.014151,S,Third,Southampton,1,3,0

Showing the confusion matrix and assigning the numbers to variables (true positive, false negative, etc).

In [23]:
cm = confusion_matrix(train.survived, train.predictions)
cm
TP = cm[1][1]
TN = cm[0][0]
FP = cm[0][1]
FN = cm[1][0]

cm

array([[248,  48],
       [ 97, 106]])

Printing out the classification report.

In [24]:
names = ['did not survive (as +)', 'survived (as +)']
print(classification_report(train.survived, train.predictions, target_names=names))

                        precision    recall  f1-score   support

did not survive (as +)       0.72      0.84      0.77       296
       survived (as +)       0.69      0.52      0.59       203

             micro avg       0.71      0.71      0.71       499
             macro avg       0.70      0.68      0.68       499
          weighted avg       0.71      0.71      0.70       499

In [25]:
print(f'accuracy: {(TP + TN)/(TP + TN + FP + FN)}')
print(f'true positive rate: {TP/(TP + FN)}')
print(f'false positive rate: {FP/(FP + TN)}')
print(f'true negative rate: {TN/(TN + FP)}')
print(f'false negative rate: {FN/(FN + TP)}')
print(f'precision: {TP/(TP + FP)}')
print(f'recall: {TP/(TP + FN)}')
print(f'f1-score: {((TP/(TP + FP)) + (TP/(TP + FN)))/2}')
print(f'support:\n    did not survive: {TN + FP}\n    survivied: {TP + FN}')

accuracy: 0.7094188376753507
true positive rate: 0.5221674876847291
false positive rate: 0.16216216216216217
true negative rate: 0.8378378378378378
false negative rate: 0.47783251231527096
precision: 0.6883116883116883
recall: 0.5221674876847291
f1-score: 0.6052395879982087
support:
    did not survive: 296
    survivied: 203

## Model 2 Using a Different Solver

`liblinear` is used for binary models (only 2 outcomes/classes) and small datasets.. Other solver options allow for multilinear logistic regressions. `sag` and `saga` are faster for larger datasets. For the sake of this model, the default of `liblinear` works fine. `liblinear` and `saga` handle L1 penalty, while `newton-cg`, `lbfgs` and `sag` handle L2 penalty. L1 might work better when lots of features are present.

In [26]:
train.describe()

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,embarked_encode,predictions
count,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,459.090180,0.406814,2.238477,0.369280,0.535070,0.430862,0.068261,0.561122,2.402806,0.308617
std,254.343216,0.491733,0.841472,0.188110,0.931528,0.855369,0.102274,0.496748,1.163394,0.462386
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,246.500000,0.000000,1.000000,0.258608,0.000000,0.000000,0.015713,0.000000,3.000000,0.000000
50%,455.000000,0.000000,3.000000,0.346569,0.000000,0.000000,0.030937,1.000000,3.000000,0.000000
75%,683.500000,1.000000,3.000000,0.472229,1.000000,1.000000,0.067096,1.000000,3.000000,1.000000
max,890.000000,1.000000,3.000000,1.000000,5.000000,6.000000,1.000000,1.000000,3.000000,1.000000

Creating a second model with random state set to `123`, but solver is `saga`.

In [27]:
model2 = LogisticRegression(solver='saga', random_state=123)
model2.fit(train[['pclass', 'age', 'sibsp', 'parch', 'fare']], train.survived)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=123, solver='saga',
          tol=0.0001, verbose=0, warm_start=False)

In [28]:
train['more_predictions'] = model2.predict(train[['pclass', 'age', 'sibsp', 'parch', 'fare']])

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
model2.score(train[['pclass', 'age', 'sibsp', 'parch', 'fare']], train.survived)

0.7134268537074149

In [32]:
classy.TwoByTwo_cm_printouts(confusion_matrix(train.survived, train.more_predictions))

These stats are for 1 being what is considered positive.
accuracy: 0.7134268537074149
true positive rate: 0.5320197044334976
false positive rate: 0.16216216216216217
true negative rate: 0.8378378378378378
false negative rate: 0.46798029556650245
precision: 0.6923076923076923
recall: 0.5320197044334976
f1-score: 0.6121636983705949
support:
    did not survive: 296
    survivied: 203

The second model, where `solver='saga'`, worked better than the first model, where `solver='liblinear'`.

## Testing The Model

In [33]:
test['predictions'] = model2.predict(test[['pclass', 'age', 'sibsp', 'parch', 'fare']])

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
model2.score(test[['pclass', 'age', 'sibsp', 'parch', 'fare']], test.survived)

0.6976744186046512

In [35]:
confusion_matrix(test.survived, test.predictions)

array([[102,  26],
       [ 39,  48]])

In [36]:
print(classification_report(test.survived, test.predictions))

              precision    recall  f1-score   support

           0       0.72      0.80      0.76       128
           1       0.65      0.55      0.60        87

   micro avg       0.70      0.70      0.70       215
   macro avg       0.69      0.67      0.68       215
weighted avg       0.69      0.70      0.69       215

In [37]:
classy.TwoByTwo_cm_printouts(confusion_matrix(test.survived, test.predictions))

These stats are for 1 being what is considered positive.
accuracy: 0.6976744186046512
true positive rate: 0.5517241379310345
false positive rate: 0.203125
true negative rate: 0.796875
false negative rate: 0.4482758620689655
precision: 0.6486486486486487
recall: 0.5517241379310345
f1-score: 0.6001863932898416
support:
    did not survive: 128
    survivied: 87

In [38]:
logit_fit = model2

# Decision Tree

In [39]:
iris = prepare.prep_iris(acquire.get_iris_data())
iris.head()

Use this as dbc to help get your SQL data: Engine(mysql+pymysql://ada_665:***@157.230.209.171/iris_db)
Don't forget to assign to a df

,sepal_length,sepal_width,petal_length,petal_width,species,species_encode
0,5.1,3.5,1.4,0.2,setosa,0
1,4.9,3.0,1.4,0.2,setosa,0
2,4.7,3.2,1.3,0.2,setosa,0
3,4.6,3.1,1.5,0.2,setosa,0
4,5.0,3.6,1.4,0.2,setosa,0

In [40]:
train, test = prepare.split_it(iris, training_size=0.8, strat=iris[['species']])

Parameters are df, train_size, random_state, and stratify
Returns train, test

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [41]:
train.shape

(120, 6)

In [42]:
test.shape

(30, 6)

Creating the decision tree object. Random state is `123` and max depth is 3.

In [43]:
tree = DecisionTreeClassifier(random_state=123, max_depth=3)

In [44]:
tree.fit(train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']], train.species)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=123,
            splitter='best')

In [45]:
train['prediction'] = tree.predict(train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']])

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [46]:
train.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_encode,prediction
99,5.7,2.8,4.1,1.3,versicolor,1,versicolor
35,5.0,3.2,1.2,0.2,setosa,0,setosa
87,6.3,2.3,4.4,1.3,versicolor,1,versicolor
5,5.4,3.9,1.7,0.4,setosa,0,setosa
10,5.4,3.7,1.5,0.2,setosa,0,setosa

In [47]:
pred_prob = tree.predict_proba(train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']])

Model can be 100% accurate but it is not due to setting a limit to depth so overfitting is avoided. Still pretty good.

In [48]:
tree.score(train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']], train.species)

0.975

In [49]:
confusion_matrix(train.species, train.prediction)

array([[40,  0,  0],
       [ 0, 37,  3],
       [ 0,  0, 40]])

In [ ]:
# print('Stats using virginica')
# print(f'accuracy: {(40+37+40)/(40+37+3+40)}')
# print(f'true positive rate: {40/40}')
# print(f'false positive rate: {3/80}')
# print(f'true negative rate: {}')
# print(f'false negative rate: {}')
# print(f'precision: {}')
# print(f'recall: {40/40}')
# print(f'f1-score: {}')
# print(f'support: {}')

In [57]:
print(classification_report(train.species, train.prediction))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        40
  versicolor       1.00      0.93      0.96        40
   virginica       0.93      1.00      0.96        40

   micro avg       0.97      0.97      0.97       120
   macro avg       0.98      0.97      0.97       120
weighted avg       0.98      0.97      0.97       120

## Using a Different Criterion (entropy)

Same parameters as previous model, but criterion is set to `entropy` (information gain).

In [50]:
model2 = DecisionTreeClassifier(random_state=123, max_depth=3, criterion='entropy')
model2.fit(train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']], train.species)
train['more_predictions'] = model2.predict(train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']])

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [51]:
train.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_encode,prediction,more_predictions
99,5.7,2.8,4.1,1.3,versicolor,1,versicolor,versicolor
35,5.0,3.2,1.2,0.2,setosa,0,setosa,setosa
87,6.3,2.3,4.4,1.3,versicolor,1,versicolor,versicolor
5,5.4,3.9,1.7,0.4,setosa,0,setosa,setosa
10,5.4,3.7,1.5,0.2,setosa,0,setosa,setosa

In [52]:
model2.score(train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']], train.species)

0.975

In [53]:
confusion_matrix(train.species, train.more_predictions)

array([[40,  0,  0],
       [ 0, 37,  3],
       [ 0,  0, 40]])

In [55]:
print(classification_report(train.species, train.more_predictions))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        40
  versicolor       1.00      0.93      0.96        40
   virginica       0.93      1.00      0.96        40

   micro avg       0.97      0.97      0.97       120
   macro avg       0.98      0.97      0.97       120
weighted avg       0.98      0.97      0.97       120

Both models performed the same.

In [58]:
tree_fit = tree

## Testing The Model

In [59]:
test['predictions'] = tree.predict(test[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']])

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [60]:
test.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_encode,predictions
80,5.5,2.4,3.8,1.1,versicolor,1,versicolor
45,4.8,3.0,1.4,0.3,setosa,0,setosa
144,6.7,3.3,5.7,2.5,virginica,2,virginica
110,6.5,3.2,5.1,2.0,virginica,2,virginica
38,4.4,3.0,1.3,0.2,setosa,0,setosa

In [61]:
tree.score(test[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']], test.species)

0.9

In [62]:
labels = sorted(test.species.unique())

pd.DataFrame(confusion_matrix(test.species, test.predictions), index=labels, columns=labels)

            setosa  versicolor  virginica
setosa          10           0          0
versicolor       0           7          3
virginica        0           0         10

In [63]:
print(classification_report(test.species, test.predictions))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        10
  versicolor       1.00      0.70      0.82        10
   virginica       0.77      1.00      0.87        10

   micro avg       0.90      0.90      0.90        30
   macro avg       0.92      0.90      0.90        30
weighted avg       0.92      0.90      0.90        30

In [ ]:
from sklearn.datasets import load_iris
from sklearn import tree

iris = load_iris()
clf = tree.DecisionTreeClassifier()
clf = clf.fit(iris.data, iris.target)

import graphviz

dot_data = tree.export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 
graph.render('iris_decision_tree', view=True)