In [1]:
import seaborn as sns
import pandas as pd
from scipy.stats import ttest_ind, chi2_contingency

In [4]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
a = df[df.sex == 'Female']
b = df[df.sex == 'Male']

ttest_ind(a.tip, b.tip)

Ttest_indResult(statistic=-1.3878597054212687, pvalue=0.16645623503456763)

In [7]:
print(pd.crosstab(df.sex, df.smoker))

chi2_contingency(pd.crosstab(df.sex, df.smoker))

smoker  Yes  No
sex
Male     60  97
Female   33  54

(0.008763290531773594, 0.925417020494423, 1, array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))